@use "../../../scss/modules/colors";
@use "../../../scss/modules/typography";

button {
    cursor: pointer;
    border-radius: 8px;
    border: 0;
    display: inline-flex;
    align-items: center;
    outline: 0;

    &[disabled] {
        cursor: not-allowed;
    }
}

.shortcut {
    @include typography.setFont(XS, light);
    display: inline-block;
    line-height: 14px;
    padding: 0px 4px;
    background-color: transparent;
    border: 1px solid colors.$gray-100;
    border-radius: 4px;
}

.main {
    @include typography.setFont(M, medium);
    padding: 8px 8px 6px 8px;
    gap: 8px;

    &.primary {
        color: colors.$gray-0;
        background-color: colors.$brand-60;
        border-bottom: 2px solid colors.$brand-70;

        .shortcut {
            color: rgba(colors.$gray-0, 0.8);
            border-color: rgba(colors.$gray-0, 0.16);
        }

        &:hover {
            background: linear-gradient(
                    to bottom,
                    rgba(colors.$brand-80, 0.24),
                    rgba(colors.$brand-80, 0.24)
                ),
                colors.$brand-60;
        }

        &:active {
            background: linear-gradient(
                    to bottom,
                    rgba(colors.$brand-80, 0.32),
                    rgba(colors.$brand-80, 0.32)
                ),
                colors.$brand-60;
        }

        &[disabled] {
            color: colors.$gray-60;
            background-color: colors.$gray-30;
            border-bottom: 2px solid colors.$gray-40;

            .shortcut {
                color: colors.$gray-60;
                border-color: colors.$gray-40;
            }

            &:hover {
                background: colors.$gray-30;
            }
        }
    }

    &.secondary {
        color: colors.$gray-100;
        background-color: colors.$gray-20;
        border-bottom: 2px solid colors.$gray-30;

        .shortcut {
            color: colors.$gray-60;
            border-color: colors.$gray-30;
        }

        &:hover {
            background: linear-gradient(
                    to bottom,
                    rgba(colors.$gray-40, 0.24),
                    rgba(colors.$gray-40, 0.24)
                ),
                colors.$gray-20;
        }

        &:active {
            background: linear-gradient(
                    to bottom,
                    rgba(colors.$gray-40, 0.32),
                    rgba(colors.$gray-40, 0.32)
                ),
                colors.$gray-20;
        }

        &[disabled] {
            color: colors.$gray-60;
            background-color: colors.$gray-30;
            border-bottom: 2px solid colors.$gray-40;

            .shortcut {
                color: colors.$gray-60;
                border-color: colors.$gray-40;
            }

            &:hover {
                background: colors.$gray-30;
            }
        }
    }
}

.ghost {
    @include typography.setFont(M, regular);
    background-color: transparent;
    color: colors.$gray-60;

    svg {
        width: 16px;
        fill: colors.$gray-60;
    }

    &:hover {
        background-color: rgba(colors.$gray-30, 0.24);
    }

    &:active {
        background-color: rgba(colors.$gray-30, 0.32);
    }

    &.standard {
        padding: 8px;
        gap: 8px;
    }

    &.small {
        padding: 4px;
        gap: 4px;
    }
}

.round {
    background-color: transparent;
    border-radius: 50%;

    svg {
        width: 16px;
    }

    &.secondary {
        svg {
            fill: colors.$gray-60;
        }
    }

    &.primary {
        svg {
            fill: colors.$gray-100;
        }
    }

    &:hover {
        background-color: rgba(colors.$gray-30, 0.24);
    }

    &:active {
        background-color: rgba(colors.$gray-30, 0.32);
    }

    &.standard {
        padding: 8px;
    }

    &.small {
        padding: 4px;
    }
}

.dropdown {
    @include typography.setFont(M, regular);
    padding: 8px 8px 6px 8px;
    gap: 8px;
    color: colors.$gray-100;
    background-color: colors.$gray-10;
    border-bottom: 2px solid colors.$gray-20;

    svg {
        width: 16px;
        fill: colors.$gray-100;
    }

    &:hover {
        background: linear-gradient(
                to bottom,
                rgba(colors.$gray-30, 0.24),
                rgba(colors.$gray-30, 0.24)
            ),
            colors.$gray-10;
    }

    &:active {
        background: linear-gradient(
                to bottom,
                rgba(colors.$gray-30, 0.32),
                rgba(colors.$gray-30, 0.32)
            ),
            colors.$gray-10;
    }
}
