:root {

    /* grayscale colors */

    --color-gray-0: #ffffff;
    --color-gray-10: #f2f4f8;
    --color-gray-20: #dde1e6;
    --color-gray-30: #c1c7cd;
    --color-gray-40: #a2a9b0;
    --color-gray-50: #878d96;
    --color-gray-60: #697077;
    --color-gray-70: #4d5358;
    --color-gray-80: #343a3f;
    --color-gray-90: #21272a;
    --color-gray-100: #121619;

    /* brand colors */

    --color-brand-10: #f6f2ff;
    --color-brand-20: #e8daff;
    --color-brand-30: #d4bbff;
    --color-brand-40: #be95ff;
    --color-brand-50: #a56eff;
    --color-brand-60: #8a3ffc;
    --color-brand-70: #6929c4;
    --color-brand-80: #491d8b;
    --color-brand-90: #31135e;
    --color-brand-100: #1c0f30;

    /* color signals */

    --color-danger-100: #da1e28;
    --color-danger-10: #fff0f0;

    --color-safe-100: #198038;
    --color-safe-10: #defbe6;

    /* statuses */

    --color-status-new_light: var(--color-gray-10);
    --color-status-new_dark: var(--color-gray-100);

    --color-status-inprogress_light: var(--color-brand-10);
    --color-status-inprogress_dark: var(--color-brand-60);

    --color-status-paused_light: var(--color-danger-10);
    --color-status-paused_dark: var(--color-danger-100);

    --color-status-done_light: var(--color-safe-10);
    --color-status-done_dark: var(--color-safe-100);

    /* priority */

    --color-priority-normal_text: var(--color-gray-100);
    --color-priority-normal_bg: var(--color-gray-10);

    --color-priority-minor-text: var(--color-gray-60);
    --color-priority-minor_bg: var(--color-gray-10);

    --color-priority-major-text: var(--color-danger-100);
    --color-priority-major_bg: var(--color-danger-10);

    --color-priority-critical-text: var(--color-gray-0);
    --color-priority-critical_bg: var(--color-danger-100);

}